In [4]:
import pyspark as spark
from pyspark.sql import SparkSession

spark=SparkSession\
    .builder\
    .appName("Python SQL Example")\
    .config("spark.some.config.option","same-value")\
    .getOrCreate()

In [6]:
from pyspark.sql import SQLContext

In [7]:
###df=spark.read.csv('C:/Users/Wesh/Desktop/creditcard.csv')
df=spark.read\
    .options(header=True, inferSchema=True)\
    .csv('MOCK_DATA.csv')
    
df1=spark.read\
    .options(header=True, inferSchema=True)\
    .csv('MOCK_DATA.csv')


##df2=spark.read.csv('E:/Python/ECMO_Imputed.csv')

In [16]:
df.head(10)

[Row(user_id=None, names=u'Elysha Deex', department=u'Research and Development', salary=83, dob=u'7/1/2018'),
 Row(user_id=None, names=u'Gennifer Doogue', department=u'Business Development', salary=53, dob=u'6/9/2018'),
 Row(user_id=None, names=u'Gabie Guillart', department=u'Marketing', salary=57, dob=u'1/27/2018'),
 Row(user_id=None, names=u'Corabella Morrell', department=u'Support', salary=89, dob=u'2/24/2018'),
 Row(user_id=None, names=u'Orrin McCrostie', department=u'Engineering', salary=47, dob=u'11/16/2017'),
 Row(user_id=None, names=u'Cherin Turbefield', department=u'Support', salary=46, dob=u'12/1/2017'),
 Row(user_id=None, names=u'Candide Dufton', department=u'Training', salary=7, dob=u'3/14/2018'),
 Row(user_id=None, names=u'Brandice Toyer', department=u'Marketing', salary=34, dob=u'6/9/2018'),
 Row(user_id=None, names=u'Krystalle Epgrave', department=u'Sales', salary=60, dob=u'12/23/2017'),
 Row(user_id=None, names=u'Raviv Ambridge', department=u'Accounting', salary=41, dob=u'10/20/2017')]

In [17]:
df1.head(2)

[Row(user_id=None, names=u'Elysha Deex', department=u'Research and Development', salary=83, dob=u'7/1/2018'),
 Row(user_id=None, names=u'Gennifer Doogue', department=u'Business Development', salary=53, dob=u'6/9/2018')]

In [10]:
df.printSchema()

root
 |-- user_id: string (nullable = true)
 |-- names: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- dob: string (nullable = true)

In [12]:
# df.count()

In [14]:
# df.describe().show()

In [6]:
# df.dropna().count()  ###drop null values and count the number of droped numbers

6753863

In [14]:
# df2=df.fillna(-1).show(5) ###fill the missing values with -1 and shows the first five values

In [19]:
df.select("names").show()

+-----------------+
|            names|
+-----------------+
|      Elysha Deex|
|  Gennifer Doogue|
|   Gabie Guillart|
|Corabella Morrell|
|  Orrin McCrostie|
|Cherin Turbefield|
|   Candide Dufton|
|   Brandice Toyer|
|Krystalle Epgrave|
|   Raviv Ambridge|
|      Ambros Phin|
| Iseabal Tassaker|
|       Cly Blesli|
|      Claude Lahy|
|   Sheelah Dornan|
|Sigismundo Slobom|
|     Joelie Gauge|
| Rosaline Rudloff|
|      Zak Wasiela|
|     Leigha Isgar|
+-----------------+
only showing top 20 rows